{% extends 'index.html' %}
{% block content %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>About</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <noscript>
        <link rel="stylesheet" href="/static/css/noscript.css"/>
    </noscript>
    <script src="https://kit.fontawesome.com/2fea303ea5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <div id="process"></div>

    <!-- 네비게이션바 -->
    <nav class="navbar sticky-top bd-navbar navbar-expand-lg navbar-light" id="aboutNav">
        <div class="container-fluid ">
            <div class="navbar collapse navbar-collapse justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#header"><strong>프로젝트 소개</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#one"><strong>개발배경</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#two"><strong>기대효과</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#three"><strong>주요기능</strong></a>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 프로젝트 소개 -->
    <section id="header">
        <div class="inner">
            <img src="/static/images/favicon.svg" class="about-header-icon" >

            <h1><strong>[프로젝트 소개]반려동물 질환 서비스</strong><br>
                반려동물의 질환을 확인해보세요</h1>
            <p>[프로그램 설명]반려동물의 피부질환과 안구질환을 확인해보세요<br>
                비만도와 가까운 병원도 찾을 수 있습니다.</p>
            <p></p>

        </div>
    </section>

    <!-- 개발배경 -->
    <section id="one" class="main style1">
        <div class="container">
            <div class="row gtr-150">
                <div class="col-6 col-12-medium">
                    <header class="major">
                        <h2><strong>개발배경</strong></h2><br>
                    </header>
                    <p>[개발 배경 설명]</p>

                </div>
                <div class="col-6 col-12-medium imp-medium">
                    <span class="image fit"><img src="/static/images/yolov5_logo.png" alt=""></span>
                </div>
            </div>
        </div>
    </section>

    <!-- 기대효과 -->
    <section id="two" class="main style2">
        <div class="container">
            <div class="row gtr-150">
                <div class="col-6 col-12-medium">
                    <img src="/static/images/dog-skin.jpeg"
                        class="dog-skin"
                     title="이미지 출처:https://wagwalking.com/condition/abnormal-skin-formation"
                    >
                </div>
                <div class="col-6 col-12-medium">
                    <header class="major">
                        <h2><strong>기대효과</strong></h2><br>
                        <h4>반려동물을 위한 AI </h4>
                    </header>
                    <p>[기대효과 작성]</p>
                </div>
            </div>
        </div>
    </section>

    <!-- 주요기능 -->
    <section id="three" class="main style1 special">
        <div class="container">
            <header class="major">
                <h2><strong>주요기능</strong></h2>
            </header>
            <p><strong>이런 서비스를 제공하고 있습니다</strong></p>
            <div class="row gtr-150">

                <div class="col-3 col-12-medium">
                    <span class="image fit three-image"><img src="/static/images/detect_page.jpeg" alt=""></span>
                    <h3>안구질환 탐지<a href="eye_detect" class="button"><i class="bi bi-box-arrow-in-right"></i></a></h3>
                    <p>반려동물의 안구 질환 증상을 탐지할 수 있습니다.</p>
                </div>

                <div class="col-3 col-12-medium">
                    <span class="image fit three-image"><img src="/static/images/detect_page.jpeg" alt=""></span>
                    <h3>피부질환 탐지<a href="skin_detect" class="button"><i class="bi bi-box-arrow-in-right"></i></a></h3>
                    <p>반려동물의 피부 질환 증상을 탐지할 수 있습니다.</p>
                </div>

                <div class="col-3 col-12-medium">
                    <span class="image fit three-image"><img src="/static/images/detect_page.jpeg" alt=""></span>
                    <h3>비만도 정보<a href="bcs" class="button"><i class="bi bi-box-arrow-in-right"></i></a></h3>
                    <p>BCS비만도로 반려동물의 비만도를 확인할 수 있습니다.</p>
                </div>

                <div class="col-3 col-12-medium">
                    <span class="image fit three-image"><img src="/static/images/hospital_page.jpeg" alt=""></span>
                    <h3>병원찾기<a href="hospital" id="hospital" class="button"><i
                            class="bi bi-box-arrow-in-right"
                            onclick="loading()"></i></a></h3>
                    <p>전국의 동물 병원을 시각화한 지도로 주변 병원 위치 및 정보를 확인할 수 있습니다.</p>
                </div>

            </div>
        </div>
        <a class="top-button" href="#header">
            <i class="bi bi-arrow-up-circle fa-2x"></i>
        </a>
        <a class="down-button" href="#footer">
            <i class="bi bi-arrow-down-circle fa-2x"></i>
        </a>

    </section>

    <!-- Footer -->
    <section id="footer">
        <ul class="icons">
            <li><a href="https://github.com/YuYeJi-Project/Petom" target="_blank"><i
                    class="fa-brands fa-github fa-2x"></i></a></li>
        </ul>
        <ul class="copyright">
            <li>Design: <a href="http://html5up.net/" target="_blank">HTML5 UP</a></li>
        </ul>
    </section>

    <!-- Scripts -->

    <script defer src="/static/js/browser.min.js"></script>
    <script defer src="/static/js/breakpoints.min.js"></script>
    <script defer src="/static/js/util.js"></script>
    <script defer src="/static/js/main.js"></script>
    <script defer src="/static/js/about.js"></script>

{% endblock %}