{% extends 'index.html' %}
{% block content %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-1.8.0.js"
            integrity="sha256-00Fh8tkPAe+EmVaHFpD+HovxWk7b97qwqVi7nLvjdgs="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>BCS비만도</title>

    <div class="grid text-center">
        <div class="row">
            <div class="col">
                <p></p>
                반려동물의 비만도를 알려드립니다. 좀 만 기다리세요.</p>
            </div>
        </div>
    </div>
    <script defer src="/static/js/main.js"></script>

{% endblock %}