{% extends 'index.html' %}
{% block content %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://kit.fontawesome.com/f0e95d9bf1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/bcs_style.css"/>
    <title>BCS 비만도</title>

    <div class="fNKwjb">
    <form class="hRbrmk">
        <div class="kYCTRC">
            <div class="gJPmZJ">
                <label class="YylJn"><strong>BCS 2 저체중</strong></label>
                <div class="bcs_describe">
                    <p>정상체중에 비해 20%정도 저체중 상태입니다. </p>
                    <p class = "v_title"><강아지, 고양이 건강하게 살찌우기></p>
                    <div class="video-container">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/1yG7mZBOSGs" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>



<body>
{% endblock %}
</body>
<script defer src="/static/js/main.js"></script>
