{% extends 'index.html' %}
{% block content %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://kit.fontawesome.com/f0e95d9bf1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/bcs_style.css"/>
    <title>BCS 비만도</title>

    <div class="fNKwjb">
    <form class="hRbrmk">
        <div class="kYCTRC">
            <div class="gJPmZJ">
                <label class="YylJn"><strong>BCS 4 과체중</strong>></label>
                <div class="bcs_describe">
                    <p>정상체중보다 20%이상 더 나가는 상태입니다.</p>
                    <p class = "v_title"><영양전문 수의사가 추천하는 비만 관리방법></p>
                    <div class="video-container">
                        <iframe width="480" height="270" src="https://www.youtube.com/embed/pgj9dc6AC1c" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <p class = "v_title"><강아지에게 효과적인 다이어트 요령 10가지></p>
                    <div class="video-container">
                        <iframe width="480" height="270" src="https://www.youtube.com/embed/Zg-A-lPHTIc" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <p class = "v_title"><비만한 고양이 살을 뺴는 10가지 방법></p>
                    <div class="video-container">
                        <iframe width="480" height="270" src="https://www.youtube.com/embed/47zy_GrJHS4" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>



<body>
{% endblock %}
</body>
<script defer src="/static/js/main.js"></script>
