{% extends 'index.html' %}
{% block content %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-1.8.0.js"
            integrity="sha256-00Fh8tkPAe+EmVaHFpD+HovxWk7b97qwqVi7nLvjdgs="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/bcs_style.css"/>
    <title>BCS 비만도</title>

    <div class="fNKwjb">
    <form class="hRbrmk">
        <div class="kYCTRC">
            <div class="gJPmZJ">
                <label class="YylJn"><strong>STEP 2 </strong>강아지의 상태를 선택해주세요</label>

                <div class="fptxwn">
                    <div class="bQTTNz">
                        <a href="bcs_1" class="button">
                            <img src="/static/images/dog_1.png" alt="강아지1" class="icon_button">
                        </a>
                            <p class="iOsWVx">강아지</p>
                    </div>

                    <div class="bQTTNz">
                        <a href="bcs_2" class="button">
                            <img src="/static/images/dog_2.png" alt="강아지2" class="icon_button">
                        </a>
                            <p class="iOsWVx">강아지</p>
                    </div>
                    <div class="bQTTNz">
                        <a href="bcs_3" class="button">
                            <img src="/static/images/dog_3.png" alt="강아지3" class="icon_button">
                        </a>
                            <p class="iOsWVx">강아지3</p>
                    </div>

                    <div class="bQTTNz">
                        <a href="bcs_4" class="button">
                            <img src="/static/images/dog_4.png" alt="강아지4" class="icon_button">
                        </a>
                            <p class="iOsWVx">강아지4</p>
                    </div>

                    <div class="bQTTNz">
                        <a href="bcs_5" class="button">
                            <img src="/static/images/dog_5.png" alt="강아지5" class="icon_button">
                        </a>
                            <p class="iOsWVx">강아지5</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>



<body>
{% endblock %}
</body>
<script defer src="/static/js/main.js"></script>
