{% extends 'index.html' %}
{% block content %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e4780035288430c0c50d0571a16174f1"></script> 
    <title>Hospital</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <noscript>
        <link rel="stylesheet" href="/static/css/noscript.css"/>
    </noscript>
    <script src="https://kit.fontawesome.com/f0e95d9bf1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <div id="process"></div>

    <div class="grid text-center">
        <div class="row">
            <div class="col">
                <h3><strong>우리 지역 동물 병원 찾기</strong></h3><br>
                <p>🐶 지도를 움직여 원하는 위치에 있는 동물병원을 찾을 수 있습니다.<br>
                   🐱 지역번호가 포함되지 않은 전화번호가 표시될 수 있습니다<br>
                   🐶 주소의 시와 지역번호를 확인하셔야 정확한 전화번호를 확인하실 수 있습니다</p>
            </div>
        </div>
    </div>

    <div id="map" style="height:400px; margin-bottom: 30px;"></div> 
      <script> 
        var container = document.getElementById('map'); 
        var options = { center: new kakao.maps.LatLng(33.450701, 126.570667), level: 3 };
          var map = new kakao.maps.Map(container, options); 
      </script> 
      <div id="root"></div> 


    <!-- Footer -->
    <section id="footer">
        <ul class="icons">
            <li><a href="https://github.com/kkkimsuji/team_pet" target="_blank"><i
                    class="fa-brands fa-github fa-2x"></i></a></li>
        </ul>
    </section>

    <!-- Scripts -->

    <script defer src="/static/js/browser.min.js"></script>
    <script defer src="/static/js/breakpoints.min.js"></script>
    <script defer src="/static/js/util.js"></script>
    <script defer src="/static/js/main.js"></script>
    <script defer src="/static/js/about.js"></script>

{% endblock %}
